_tflow_select
abseil-cpp
absl-py
aiohttp
aiosignal
astor
astunparse
async-timeout
attrs
blas
blinker
brotli-python
c-ares
ca-certificates
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
flask
freetype
frozenlist
gast
google-auth
google-auth-oauthlib
google-pasta
grpc-cpp
grpcio
gtest
h5py
hdf5
icc_rt
idna
importlib-metadata
intel-openmp
itsdangerous
jinja2
jpeg
keras
keras-applications
keras-preprocessing
lerc
libdeflate
libffi
libpng
libprotobuf
libtiff
libwebp-base
lz4-c
markdown
markupsafe
mkl
mkl-service
mkl_fft
mkl_random
multidict
numpy
numpy-base
oauthlib
openjpeg
openssl
opt_einsum
packaging
pillow
pip
platformdirs
pooch
protobuf
pyasn1
pyasn1-modules
pycparser
pyjwt
pyopenssl
pyreadline
pysocks
python
re2
requests
requests-oauthlib
rsa
scipy
setuptools
six
sqlite
tbb
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-base
tensorflow-estimator
termcolor
urllib3
vc
vs2015_runtime
werkzeug
wheel
win_inet_pton
wrapt
xz
yarl
zipp
zlib
zstd
